<div class="member-update">
    <div class="title">
        <h1>Excluir Membro</h1>
    </div>
    <form class="row g-3" [formGroup]="memberForm" >

        <div class="form-group col-auto">
            <label for="name" class="visually-hidden">Nome Completo</label>
            <input type="text" formControlName="name"
                id="name" 
                class="form-control" 
                placeholder="Nome completo"
                maxlength="22"
                [(ngModel)]="memberModel.name">
        </div>
        <div class="form-group col-auto">
            <label for="address" class="visually-hidden">Endereço</label>
            <input type="text" formControlName="address" 
                id="address" 
                class="form-control" 
                placeholder="Endereço completo"
                maxlength="22"
                [(ngModel)]="memberModel.address">
        </div>
        <div class="form-group col-auto">
            <label for="whatsApp" class="visually-hidden">WhatsApp</label>
            <input type="text" formControlName="whatsApp" 
                id="whatsApp" 
                class="form-control" 
                placeholder="WhatsApp"
                mask='(00)00000-0000'
                [(ngModel)]="memberModel.whatsApp">
        </div>
        <div class="form-group col-auto">
            <label for="bday" class="visually-hidden">Bday</label>
            <input type="text" formControlName="bday" 
                id="bday" 
                class="form-control" 
                placeholder="Data de Nascimento"
                mask='00/00/0000'
                [(ngModel)]="memberModel.bday">
        </div>
        
        <select class="col-auto select-gc" formControlName="gc">
            <option selected *ngFor="let gc of optionGc" 
                [value]="gc.value">
                {{ gc.name }}
            </option>
        </select>
        
        <div class="col-auto btn-submit">
            <button type="submit" class="btn btn-primary mb-3" (click)="deleteMember()">Excluir</button>
        </div>
        <div class="col-auto btn-cancel">
            <button type="cancel" class="btn btn-light mb-3" (click)="cancel()">Cancelar</button>
        </div>
    </form>
</div>

<br>Dirty: {{ memberForm.dirty }}
<br>Touched: {{ memberForm.touched }}
<br>Valid: {{ memberForm.valid }}
<br>Value: {{ memberForm.value | json }}
<br>&nbsp;